doctype 5
html
  head
    title= title
    <meta name="viewport" id="vp" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" />
    <meta name="viewport" id="vp" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)" />
    meta(name="apple-mobile-web-app-capable", content="yes")
    link(rel='stylesheet', href='/stylesheets/style.css')
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    script(type="text/javascript", src="../javascripts/default.js")
    script(type="text/javascript", src="../javascripts/menu.js")
  body
    .header.clearfix
      img#menu(src="../images/menu_icon.png", width = 30)
      h1
        block headertitle
    .wrapper
      #flash-head #{error}
      .menu
        ul
          li: a(href="./game") New Game
          li: a(href="./new") New Player
      block content